<div class="container contenido">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="clientes-tab" data-bs-toggle="tab" data-bs-target="#clientes" type="button" role="tab" aria-controls="clientes" aria-selected="true"> Clientes </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="usuarios-tab" data-bs-toggle="tab" data-bs-target="#usuarios" type="button" role="tab" aria-controls="usuarios" aria-selected="false"> Usuarios </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="geocercas-tab" data-bs-toggle="tab" data-bs-target="#geocercas" type="button" role="tab" aria-controls="geocercas" aria-selected="false"> Geocercas </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="backup-tab" data-bs-toggle="tab" data-bs-target="#backup" type="button" role="tab" aria-controls="backup" aria-selected="false"> BackUp </button>
        </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="clientes" role="tabpanel" aria-labelledby="clientes-tab"> Clientes </div>
      <div class="tab-pane" id="usuarios" role="tabpanel" aria-labelledby="usuarios-tab"> Usuarios </div>
      <div class="tab-pane" id="geocercas" role="tabpanel" aria-labelledby="geocercas-tab"> Geocercas </div>
      <div class="tab-pane" id="backup" role="tabpanel" aria-labelledby="backup-tab"> BackUp </div>
    </div>
  </div>
