<div class="container contenido">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="crear-tab" data-bs-toggle="tab" data-bs-target="#crear" type="button" role="tab" aria-controls="crear" aria-selected="true"> Crear </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="listar-tab" data-bs-toggle="tab" data-bs-target="#listar" type="button" role="tab" aria-controls="listar" aria-selected="false"> Listar </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="asignar-tab" data-bs-toggle="tab" data-bs-target="#asignar" type="button" role="tab" aria-controls="asignar" aria-selected="false"> Asignar </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="diligenciados-tab" data-bs-toggle="tab" data-bs-target="#diligenciados" type="button" role="tab" aria-controls="diligenciados" aria-selected="false"> Diligenciados </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="reglas-tab" data-bs-toggle="tab" data-bs-target="#reglas" type="button" role="tab" aria-controls="reglas" aria-selected="false"> Reglas de Correo </button>
        </li>
    </ul>
  
    <div class="tab-content">
      <div class="tab-pane active" id="crear" role="tabpanel" aria-labelledby="crear-tab"> Crear </div>
      <div class="tab-pane" id="listar" role="tabpanel" aria-labelledby="listar-tab"> Listar </div>
      <div class="tab-pane" id="asignar" role="tabpanel" aria-labelledby="asignar-tab"> Asignar </div>
      <div class="tab-pane" id="diligenciados" role="tabpanel" aria-labelledby="diligenciados-tab"> Diligenciados </div>
      <div class="tab-pane" id="reglas" role="tabpanel" aria-labelledby="reglas-tab"> Reglas de Correo </div>
    </div>
  </div>
